[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
xmlformatter = "*"
coverage = "*"
isort = "*"

[packages]
typing-extensions = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
